[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "0.110.0"
uvicorn = "0.29.0"
pydantic = "2.6.4"
python-dotenv = "1.0.1"
SQLAlchemy = "2.0.29"
psycopg2 = "2.9.9"

[dev-packages]

[requires]
python_version = "3.11"
